<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="cursor-pointer" *ngFor="let header of headers" (click)="sort(header.code)">
                    <div class="dt-th">
                        <span>{{ header.value }}</span>
                        <div class="dt-sort"
                            [ngClass]="{ 'dt-sort-asc': sortRecord.asc === true && sortRecord.field === header.code, 'dt-sort-desc': sortRecord.desc === true && sortRecord.field === header.code }">
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let r of record | keyvalue">
                    {{ getValue(r.value) }}
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-light">
            <tr>
                <th class="cursor-pointer" *ngFor="let header of headers" (click)="sort(header.code)">
                    <div class="dt-th">
                        <span>{{ header.value }}</span>
                        <div class="dt-sort"
                            [ngClass]="{ 'dt-sort-asc': sortRecord.asc === true && sortRecord.field === header.code, 'dt-sort-desc': sortRecord.desc === true && sortRecord.field === header.code }">
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>