<div>
    <!-- FILTROS -->
    <div class="row"
        *ngIf="filters && ((filters.basic && filters.basic.length > 0) || (filters.advanced && filters.advanced.length > 0))">
        <div class="container input-group col-12 mb-2">
            <input type="text" class="form-control" [placeholder]="basicNameFilters" [(ngModel)]="basicFilter"
                *ngIf="filters.basic && filters.basic.length > 0">

            <div class="filters-buttons">
                <!-- Botón de buscar. -->
                <button class="btn btn-primary ml-1" (click)="recoverData()">
                    <i class="fas fa-search"></i>
                </button>
                <!-- Botón para mostrar/ocultar los filtros avanzados. -->
                <button class="btn btn-info ml-1" *ngIf="filters && filters.advanced && filters.advanced.length> 0"
                    (click)="showAdvancedFilters = !showAdvancedFilters">
                    <i class="fas fa-search-plus"
                        [ngClass]="{ 'fa-search-plus': !showAdvancedFilters, 'fa-search-minus': showAdvancedFilters }"></i>
                </button>
                <!-- Botón para limpiar o inicializar los filtros. -->
                <button class="btn btn-danger ml-1" (click)="clearFilters()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="col-12" #collapse="ngbCollapse" [(ngbCollapse)]="!showAdvancedFilters"
            *ngIf="filters && filters.advanced && filters.advanced.length> 0">
            <div *ngFor="let filter of filters.advanced; let ind = index">
                <!-- Currency -->
                <div class="row mb-3" *ngIf="filter.type === 'currency'">
                    <!-- Sin rango. -->
                    <div class="col-12" *ngIf="!filter.isRange">
                        <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}</label>
                        <input [id]="'datatable_adf_' + ind" class="form-control" type="text" [(ngModel)]="filter.value"
                            [placeholder]="filter.name" currencyMask>
                    </div>
                    <!-- Con rango. -->
                    <div class="col-12" *ngIf="filter.isRange">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (desde)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.from" [placeholder]="filter.name" currencyMask>
                            </div>
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (hasta)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.to" [placeholder]="filter.name" currencyMask>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Decimal -->
                <div class="row mb-3" *ngIf="filter.type === 'decimal'">
                    <!-- Sin rango. -->
                    <div class="col-12" *ngIf="!filter.isRange">
                        <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}</label>
                        <input [id]="'datatable_adf_' + ind" class="form-control" type="text" [(ngModel)]="filter.value"
                            [placeholder]="filter.name" currencyMask [options]="{ prefix: '', suffix: '' }">
                    </div>
                    <!-- Con rango. -->
                    <div class="col-12" *ngIf="filter.isRange">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (desde)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.from" [placeholder]="filter.name" currencyMask
                                    [options]="{ prefix: '', suffix: '' }">
                            </div>
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (hasta)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.to" [placeholder]="filter.name" currencyMask
                                    [options]="{ prefix: '', suffix: '' }">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Porcentaje -->
                <div class="row mb-3" *ngIf="filter.type === 'percentage'">
                    <!-- Sin rango. -->
                    <div class="col-12" *ngIf="!filter.isRange">
                        <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}</label>
                        <input [id]="'datatable_adf_' + ind" class="form-control" type="text" [(ngModel)]="filter.value"
                            [placeholder]="filter.name" currencyMask
                            [options]="{ prefix: '', suffix: '', precision: 4 }">
                    </div>
                    <!-- Con rango. -->
                    <div class="col-12" *ngIf="filter.isRange">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (desde)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.from" [placeholder]="filter.name" currencyMask
                                    [options]="{ prefix: '', suffix: '', precision: 4 }">
                            </div>
                            <div class="col-12 col-md-6">
                                <label [for]="'datatable_adf_' + ind" class="form-label">{{ filter.name }}
                                    (hasta)</label>
                                <input [id]="'datatable_adf_' + ind" class="form-control" type="text"
                                    [(ngModel)]="filter.to" [placeholder]="filter.name" currencyMask
                                    [options]="{ prefix: '', suffix: '', precision: 4 }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TABLA -->
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="cursor-pointer" *ngFor="let header of headers" (click)="sort(header.code)">
                    <div class="dt-th">
                        <span>{{ header.value }}</span>
                        <div class="dt-sort"
                            [ngClass]="{ 'dt-sort-asc': sortRecord.asc && sortRecord.field === header.code, 'dt-sort-desc': sortRecord.desc && sortRecord.field === header.code }">
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let r of record | keyvalue">
                    {{ getValue(r.value) }}
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-light">
            <tr>
                <th class="cursor-pointer" *ngFor="let header of headers" (click)="sort(header.code)">
                    <div class="dt-th">
                        <span>{{ header.value }}</span>
                        <div class="dt-sort"
                            [ngClass]="{ 'dt-sort-asc': sortRecord.asc && sortRecord.field === header.code, 'dt-sort-desc': sortRecord.desc && sortRecord.field === header.code }">
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>