<div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td *ngFor="let r of record | keyvalue">
                    {{ getValue(r.value) }}
                </td>
            </tr>
        </tbody>
        <tfoot class="thead-light">
            <tr>
                <th *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>